footer {
  background: $dark-grey;
  .footer-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px 0;
    @media all and (max-width: 1230px) {
      padding: 40px 20px;
    }
    .footer-left {
      float: left;
      width: 70%;
      padding-right: 80px;
      padding-top: 20px;
      @media all and (max-width: $mobile) {
        width: 100%;
        padding: 0;
      }
      .menu-main-menu-container {
        ul {
          li {
            display: inline-block;
            margin-right: 20px;
            font-size: 14px;
            &:last-of-type {
              margin-right: 0;
            }
            a {
              font-family: 'OpenSans';
              color: white;
              padding: 0;
              &:hover {
                background: none;
              }
            }
          }
        }
      }
      hr {
        margin-top: 20px;
        border-top: 2px solid white;
        margin-bottom: 40px;
        @media all and (max-width: $mobile) {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      .copyright {
        p {
          color: white;
          font-size: 12px;
          display: inline-block;
          margin-right: 20px;
          margin-bottom: 0;
          @media all and (max-width: $mobile) {
            margin-bottom: 10px;
          }
        }
        .menu-footer-menu-container {
          display: inline-block;
          ul {
            margin: 0;
            padding: 0;
            li {
              border-left: 1px solid white;
              display: inline-block;
              padding-left: 5px;
              @media all and (max-width: $mobile) {
                margin-bottom: 10px;
              }
              a {
                color: white;
              }
            }
          }
        }
      }
      img {
        &.footer-logo {
          width: 150px;
          height: 44px;
          margin-top: 120px;
          @media all and (max-width: $mobile) {
            margin-top: 20px;
          }
        }
      }
    }
    .footer-right {
      float: left;
      width: 30%;
      @media all and (max-width: $mobile) {
        width: 100%;
      }
      img {
        &.footer-logo {
          width: 100px;
          margin-bottom: 5px;
          @media all and (max-width: $mobile) {
            margin-top: 5px;
          }
        }
      }
      a, p {
        font-family: 'OpenSans';
        display: block;
        font-size: 14px;
        color: white;
        margin-bottom: 5px;
        &.ultimate-logo {
          margin-top: 10px;
        }
      }
      .address-one {
        margin-right: 40px;
      }
      .address-one, .address-two {
        display: inline-block;
        margin-top: 5px;
        p {
          margin-bottom: 0;
          line-height: 20px;
        }
      }
    }
  }
}