header {
  position: fixed;
  background: $dark-grey;
  padding: 40px;
  width: 100%;
  z-index: 90;
  @media all and (max-width: $mobile) {
    padding: 10px 20px;
  }
  .container {
    position: relative;
    .logo {
      display: inline-block;
      margin-right: 60px;
      @media all and (max-width: $mobile) {
        margin-right: 0;
      }
      img {
        width: 120px;
        height: auto;
        @media all and (max-width: $mobile) {
          width: 80px;
        }
      }
    }
    i {
      &.menu-open {
        display: none;
        color: white;
        font-size: 30px;
        position: absolute;
        right: 0;
        top: 5px;
        @media all and (max-width: $mobile) {
          display: block;
        }
      }
    }
    nav {
      position: relative;
      display: inline-block;
      top: 25px;
      @media all and (max-width: $mobile) {
        display: none;
        position: fixed;
        top: 0;
        z-index: 99;
        left: 0;
        width: 100%;
        height: 100%;
        background: $orange;
      }
      i {
        &.menu-close {
          display: none;
          color: white;
          font-size: 30px;
          position: absolute;
          right: 20px;
          top: 15px;
          @media all and (max-width: $mobile) {
            display: block;
          }
        }
      }
      .menu-main-menu-container {
        ul {
          @media all and (max-width: $mobile) {
            margin-top: 80px;
          }
          li {
            display: inline-block;
            padding: 0;
            margin: 0 15px;
            position: relative;
            @media all and (max-width: $mobile) {
              display: block;
              padding: 0;
              margin: 0 0 20px 0;
              text-align: center;
            }
            &:first-of-type {
              margin-left: 0;
            }
            &:last-of-type {
              margin-right: 0;
            }
            a {
              color: white;
              padding: 0;
              margin: 0;
              font-family: 'OpenSans';
              font-size: 16px;
              &:hover, &:focus, &:active {
                background: none;
                &:after {
                  width: 100%;
                }
              }
              &:after {
                display: block;
                clear: both;
                content: "";
                position: relative;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 18px;
                border-bottom: 4px solid $orange;
                margin-top: 2px;
                transition: all 1s ease;
                @media all and (max-width: $mobile) {
                  border-bottom: 1px solid white;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
  .three-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 97px;
    background-size: contain;
    background-repeat: no-repeat;
    @media all and (max-width: $mobile) {
      display: none;
    }
  }
}