.page-template-template-about {
  .text-area-content {
    max-width: 500px;
    @media all and (max-width: $mobile) {
      padding-bottom: 0 !important;
    }
    p {
      &:last-of-type {
        @media all and (max-width: $mobile) {
          margin-bottom: 20px;
        }
      }
    }
    h3 {
      font-family: 'OstrichSans-Medium';
      text-transform: uppercase;
      font-size: 46px;
      letter-spacing: 4px;
      margin-bottom: 20px;
      padding: 0;
      margin-top: 0;
      @media all and (max-width: $mobile) {
        font-size: 32px;
      }
      &:after {
        display: block;
        clear: both;
        content: "";
        position: relative;
        left: -3px;
        bottom: 0;
        height: 1px;
        width: 80px;
        border-bottom: 4px solid $orange;
        margin: 0 auto;
      }
    }
  }
}

.main-text-area {
  .text-area-content {
    position: relative;
    text-align: center;
    padding: 50px 0;
    @media all and (max-width: 820px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}