//REMOVE PAGE HEADERS FROM ALL TEMPLATES APART FROM HOMEPAGE ON MOBILE
.page-template-template-about, .page-template-template-team, .page-template-template-services, .page-template-template-success, .page-template-template-contact {
  .page-headers {
    @media all and (max-width: $mobile) {
      display: none;
    }
  }
}

.page-template-template-home {
  .page-headers {
    height: 700px;
    @media all and (max-width: $mobile) {
      height: calc(100vh - 63px)
    }
  }
}

.page-headers {
  height: 500px;
  #headCarousel {
    height: 100%;
    .carousel-indicators {
      bottom: 60px;
      @media all and (max-width: $mobile) {
        bottom: 5%;
      }
    }

    .carousel-inner {
      height: 100%;
      .item {
        height: 100%;
        .item-image {
          height: 100%;
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;

          position:absolute;
          left: 0;
          top: 0;
        }
        .base-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.4);
        }
        .item-content {
          position: absolute;
          height: 100%;
          width: 100%;
          max-width: 600px;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
          background: rgba(0,0,0,0.5);
          @media all and (max-width: $mobile) {
            padding: 0 20px;
          }
          .text-container {
            top: 50%;
            position: relative;
            transform: translateY(-50%);
            .text-content {
              h2, p {
                color: white;
                margin: 0 auto;
              }
              h2 {
                font-family: 'OstrichSans-Medium';
                text-transform: uppercase;
                font-size: 62px;
                letter-spacing: 4px;
                max-width: 350px;
                line-height: 50px;
                margin-bottom: 20px;
                @media all and (max-width: $mobile) {
                  font-size: 54px;
                  line-height: 45px;
                }
                &:after {
                  display: none;
                }
              }
              p {
                font-family: 'OpenSans';
                font-size: 18px;
                max-width: 420px;
              }
            }
            a {
              &.button {
                margin-top: 60px;
              }
            }
          }
        }
      }
    }
  }
}