.page-template-template-about {
  .page-introduction {
    .introduction-content {
      p {
        &:first-of-type {
          font-family: 'OpenSans-Bold';
        }
      }
    }
  }
}

.page-template-template-team {
  .page-introduction {
    .introduction-content {
      max-width: 750px;
    }
  }
}

.page-introduction {
  &.with-image {
    .introduction-content {
      img {
        position: relative;
        z-index: 2;
        max-width: 800px;
        max-height: 520px;
      }
      p {
        &:last-of-type {
          margin-bottom: 60px;
        }
      }
    }
  }
  .introduction-content {
    position: relative;
    text-align: center;
    padding: 50px 0;
    @media all and (max-width: 820px) {
      padding: 50px 20px;
    }
    h1, p {
      color: white;
      padding: 0;
      margin: 0;
    }
    h1 {
      font-family: 'OstrichSans-Medium';
      font-size: 62px;
      margin-bottom: 60px;
      letter-spacing: 4px;
      @media all and (max-width: $mobile) {
        font-size: 40px;
        margin-bottom: 30px;
      }
      &:after {
        display: block;
        clear: both;
        content: "";
        position: relative;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 80px;
        border-bottom: 4px solid white;
        margin: 0 auto;
      }
    }
    p {
      font-family: 'OpenSans';
      font-size: 18px;
      margin-bottom: 30px;
      line-height: 25px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    h3 {
      color: #fff;
      margin: 30px 0 15px;
      font-family: 'OstrichSans-Medium';
      font-size: 32px;
    }

    ul {
      text-align: left;
      color: #fff;
      margin-bottom: 30px;
    }


    table {
      margin: 10px 0 30px;

      th, td {
        border: 1px solid #fff;
        padding: 5px;

        font-size: 14px;
        text-align: left;

        p {
          font-size: 14px;
          margin: 0;
        }
      }
    }
    img {
      margin-top: 60px;
      display: block;
      width: 100%;
    }
  }
}
