.single-team {
  .inner-team-member {
    .main-image {
      height: 550px;
      background-size: cover;
      background-position: 50%;
    }
    .main-content {
      text-align: center;
      padding: 60px 0;
      @media all and (max-width: 820px) {
        padding: 60px 20px;
      }
      .main-content-content {
        h1 {
          font-family: 'OstrichSans-Medium';
          text-transform: uppercase;
          font-size: 62px;
          letter-spacing: 4px;
          margin-bottom: 20px;
          padding: 0;
          margin-top: 0;
          color: $orange;
          @media all and (max-width: $mobile) {
            font-size: 50px;
          }
          &:after {
            display: block;
            clear: both;
            content: "";
            position: relative;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 80px;
            border-bottom: 4px solid $orange;
            margin: 0 auto;
          }
        }
        p {
          margin: 0;
          &.position {
            font-family: 'OstrichSans-Medium';
            text-transform: uppercase;
            font-size: 26px;
            margin-bottom: 10px;
          }
        }
        a {
          display: block;
          color: black;
          &.email {
            font-size: 16px;
            font-family: 'OpenSans-Bold';
            margin-bottom: 5px;
            @media all and (max-width: $mobile) {
              font-size: 13px;
            }
          }
          &.telephone {
            font-size: 16px;
            font-family: 'OpenSans-Bold';
            margin-bottom: 5px;
            @media all and (max-width: $mobile) {
              font-size: 13px;
            }
          }
          &.social-media {
            display: inline-block;
            i {
              font-size: 26px;
              margin-right: 5px;
            }
            &:last-of-type {
              i {
                margin-right: 0;
              }
            }
          }
        }
        .biography {
          margin-top: 40px;
          p {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .footer-quote {
    background: $orange;
    padding: 60px 0;
    .footer-quote-content {
      max-width: 700px;
      p {
        font-family: 'OstrichSans-Medium';
        font-size: 65px;
        color: white;
        line-height: 54px;
        margin: 0;
        padding: 0;
        text-align: center;
        @media all and (max-width: $mobile) {
          font-size: 40px;
          line-height: 40px;
        }
        &.company-name {
          font-family: 'OpenSans';
          color: white;
          font-size: 14px;
          text-align: right;
          line-height: normal;
          position: relative;
          top: 5px;
          @media all and (max-width: $mobile) {
            position: relative;
            top: 45px;
          }
        }
      }
      i {
        &.fa-pause {
          color: white;
          font-size: 20px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          &:first-of-type {
            margin-bottom: 20px;
          }
          &:last-of-type {
            position: relative;
            top: -15px;
          }
        }
      }
    }
  }
}