.page-template-template-services {
  hr {
    border-top: 2px solid $light-grey;
    margin: 0 0 60px 0;
  }
  .services-list {
    .services-list-content {
      padding: 60px 0;
      text-align: center;
      .single-services {
        margin-bottom: 100px;
        &:last-of-type {
          margin-bottom: 0;
        }
        img {
          width: 60px;
          height: auto;
          margin-bottom: 20px;
        }
        h2 {
          font-size: 40px;
          margin-bottom: 40px;
          &:after {
            display: none;
          }
        }
        p {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .our-clients {
    margin-bottom: 120px;
    .our-clients-content {
      text-align: center;
      h2 {
        color: $orange;
        &:after {
          display: none;
        }
      }
      .clients-carousel {
        margin-bottom: 60px;
        .slick-dots {
          list-style: none;
          position: absolute;
          bottom: -170px;
          left: 50%;
          transform: translateX(-50%);
          margin: 0;
          padding: 0;
          li {
            display: inline-block;
            border-radius: 0!important;
            height: 5px!important;
            width: 15px!important;
            margin: 0 5px 0 0!important;
            background: $light-grey;
            cursor: pointer;
            &:last-of-type {
              margin-right: 0;
            }
            &.slick-active {
              background: $orange;
            }
            button {
              display: none;
            }
          }
        }
        .single-client {
          padding: 20px 40px;
          height: 100px;
          img {
            width: 100%;
            height: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            @media all and (max-width: $mobile) {
              width: auto;
              height: 100%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}