.page-template-template-home {
  .sep-container {
    background: $dark-grey;
    padding-bottom: 40px;
  }
  .client-testimonials {
    background: $dark-grey;
    .client-testimonial-content {
      text-align: center;
      h2 {
        color: white;
        margin-bottom: 60px;
      }
      #whatclientssay {
        .carousel-indicators {
          bottom: 0;
          padding-bottom: 60px;
          margin-bottom: 0;
          position: relative;
          li {

          }
        }
        .carousel-inner {
          .item {
            i {
              &.fa-pause {
                position: relative;
                color: white;
                font-size: 20px;
                &:first-of-type {
                  margin-bottom: 20px;
                }
                &:last-of-type {
                  margin-bottom: 20px;
                }
              }
            }
            p {
              color: white;
              &.quotee {
                max-width: 320px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'OpenSans-Bold';
              }
            }
            a {
              &.button {
                margin-bottom: 60px;
              }
            }
          }
        }
      }
    }
  }
  .latest-social-media {
    background: $orange;
    .latest-social-media-content {
      padding: 50px 0;
      text-align: center;
      h2 {
        color: white;
        &:after {
          border-color: white;
        }
      }
      .twitter-feed {
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            margin-right: 10px;
            padding: 40px 20px;
            border: 1px solid $light-grey;
            width: calc(33.33% - 7px);
            float: left;
            min-height: 218px;
            &:last-of-type {
              margin-right: 0;
            }
            @media all and (max-width: 830px) {
              width: 100%;
              margin-right: 0;
              margin-bottom: 10px;
            }
            .tweet {
              color: white;
              font-size: 16px;
              font-family: 'OpenSans';
              line-height: 28px;
              min-height: 56px;
              a {
                color: white;
                font-family: 'OpenSans';
                &.twitter-click {
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
            .bottom {
              margin-top: 20px;
              @media all and (max-width: 830px) {
                max-width: 240px;
                margin-left: auto;
                margin-right: auto;
              }
              .date {
                display: block;
                color: white;
                font-family: 'OpenSans';
                font-size: 16px;
                margin-bottom: 10px;
              }
              .sharer {
                display: block;
                width: 55px;
                margin: 0 auto;
                i {
                  display: inline-block;
                  color: $dark-grey;
                  font-size: 26px;
                  margin-right: 5px;
                }
                a {
                  display: inline-block;
                  &.link-sharer {
                    position: relative;
                    top: -5px;
                  }
                  img {
                    height: 20px;
                    width: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}