.page-template-template-team {
  .page-introduction {
    &.mta-white-bg {
      h1 {
        color: $orange!important;
        &:after {
          border-color: $orange;
        }
      }
    }
  }
  .team-members {
    .team-members-content {
      .individual-team-member {
        margin: 0 30px 40px 30px;
        width: 340px;
        float: left;
        @media all and (max-width: 820px) {
          width: 100%;
          margin: 0 0 40px 0;
        }
        .profile-image {
          background-size: cover!important;
          background-position: 50% 50%!important;
          height: 430px;
          margin-bottom: 15px;
          position: relative;
          @media all and (max-width: 820px) {
            height: 450px;
          }
          .orange-overlay {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(200, 84, 23, 0.75);
            transition: all 1s ease;
            a {
              &.button {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
          &:hover {
            .orange-overlay {
              opacity: 1;
            }
          }
        }
        p {
          margin-bottom: 0;
          &.name {
            font-family: 'OstrichSans-Medium';
            color: $orange;
            text-transform: uppercase;
            font-size: 30px;
            line-height: normal;
          }
          &.position {
            font-family: 'OstrichSans-Medium';
            color: $dark-grey;
            text-transform: uppercase;
            font-size: 24px;
            line-height: normal;
          }
        }
        hr {
          border-top: 6px solid $orange;
          width: 40px;
          margin-left: 0;
          margin-top: 5px;
          margin-bottom: 5px;
        }
        i {
          color: $orange;
          font-size: 20px;
          cursor: pointer;
          &:first-of-type {
            margin-right: 2px;
          }
        }
      }
    }
  }
  .footer-quote {
    background: $orange;
    padding: 60px 0;
    .footer-quote-content {
      max-width: 440px;
      p {
        font-family: 'OstrichSans-Medium';
        font-size: 65px;
        color: white;
        line-height: 54px;
        margin: 0;
        padding: 0;
        text-align: center;
        @media all and (max-width: $mobile) {
          font-size: 40px;
          line-height: 40px;
        }
        &.company-name {
          font-family: 'OpenSans';
          color: white;
          font-size: 14px;
          text-align: right;
          line-height: normal;
          position: relative;
          top: 5px;
          @media all and (max-width: $mobile) {
            position: relative;
            top: 45px;
          }
        }
      }
      i {
        &.fa-pause {
          color: white;
          font-size: 20px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          &:first-of-type {
            margin-bottom: 25px;
          }
          &:last-of-type {
            position: relative;
            top: -10px;
          }
        }
      }
    }
  }
}