.page-template-template-contact {
  .form-block {
    padding: 60px 0;
    .form-block-content {
      h1 {
        font-family: 'OstrichSans-Medium';
        text-transform: uppercase;
        font-size: 62px;
        letter-spacing: 4px;
        margin-bottom: 60px;
        padding: 0;
        margin-top: 0;
        text-align: center;
        color: $orange;
        &:after {
          display: block;
          clear: both;
          content: "";
          position: relative;
          left: 0;
          bottom: 0;
          height: 1px;
          width: 80px;
          border-bottom: 4px solid $orange;
          margin: 0 auto;
        }
      }
      .nf-form-cont {
        .nf-form-wrap {
          .nf-form-layout {
            .nf-before-form-content {
              display: none;
            }
            .nf-form-content {
              .nf-field-container {
                &.no-right {
                  margin-right: 0 !important;
                }
                &.textbox-container {
                  width: 192px;
                  float: left;
                  clear: none;
                  margin-right: 10px;
                  margin-bottom: 10px;
                  @media all and (max-width: 820px) {
                    width: 100%;
                  }
                  input {
                    text-align: left;
                  }
                }
                .nf-field {
                  .submit-wrap {
                    text-align: center;
                  }
                  .field-wrap {
                    .nf-field-label {
                      display: none;
                    }
                    .nf-field-element {
                      input[type=text], textarea {
                        border: 2px solid $light-grey;
                        color: $light-grey;
                        font-family: 'OpenSans';
                        padding: 15px;
                        font-size: 16px;
                      }
                      textarea {
                      }
                      input[type=button] {
                        font-family: 'OpenSans';
                        background: $orange;
                        color: white;
                        border: none;
                        padding: 10px 50px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .locations {
    background: $orange;
    .locations-content {
      padding: 60px 0;
      text-align: center;
      a {
        font-family: 'OpenSans-Bold';
        font-size: 18px;
        display: block;
        color: white;
      }
      .single-locations {
        margin-top: 40px;
        .location {
          width: 50%;
          float: left;
          img {
            height: 80px;
            width: auto;
            margin-bottom: 10px;
          }
          h2 {
            font-family: 'OstrichSans-Medium';
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: 4px;
            padding: 0;
            margin-top: 0;
            margin-bottom: 15px;
            line-height: 50px;
            color: white;
            &:after {
              display: block;
              clear: both;
              content: "";
              position: relative;
              left: -3px;
              bottom: 0;
              height: 1px;
              width: 80px;
              border-bottom: 4px solid white;
              margin: 0 auto;
            }
          }
          p {
            margin-bottom: 0;
            color: white;
          }
        }
      }
    }
  }
  .advertised-roles {
    .advertised-roles-content {
      padding: 60px 0;
      text-align: center;
      max-width: 550px;
      p {
        font-size: 18px;
        margin-bottom: 40px;
        strong {
          font-family: 'OpenSans-Bold';
        }
      }
      .single-logo {
        height: 80px;
        display: inline-block;
        margin-right: 60px;
        @media all and (max-width: $mobile) {
          margin-right: 0;
          margin-bottom: 10px;
        }
        &:last-of-type {
          margin-right: 0;
        }
        img {
          height: 100%;
        }
      }
    }
  }

  .form-block .form-block-content .nf-form-cont .nf-form-wrap .nf-form-layout .nf-form-content .nf-field-container.file_upload-container {
    width: 100%;
  }
  .file_upload-wrap {
    border: 2px solid #a8a99e;
    color: #a8a99e;
    font-family: OpenSans;
    padding: 15px;
    font-size: 16px;
  }
  .file_upload-wrap > .nf-field-element {
    display: flex;
    justify-content: flex-start;
  }
  .file_upload-wrap > .nf-field-element > .nf-fu-fileinput-button {
    margin-bottom: 0px;
    background-color: $dark-grey;
    border-color: $dark-grey;
  }
  .nf-fu-progress {
    display: none;
  }
  .files_uploaded > nf-section > p {
    margin-bottom: 0px;
    margin-left: 10px;
  }
  .form-block .form-block-content .nf-form-cont .nf-form-wrap .nf-form-layout .nf-form-content .nf-field-container .nf-field .field-wrap .nf-field-element input[type=button] {
    padding: 22px 50px;
  }
  .page-template-template-contact .form-block {
    padding-bottom: 200px;
  }
  @media only screen and (min-width: 820px) {
    .form-block .form-block-content .nf-form-cont .nf-form-wrap .nf-form-layout .nf-form-content .nf-field-container.file_upload-container {
      width: 50%;
    }
    .form-block {
      padding-bottom: 100px;
    }
  }
}
