.page-template-template-success {
  .page-introduction {
    &.mta-white-bg {
      h1 {
        color: $orange!important;
        &:after {
          border-color: $orange;
        }
      }
    }
  }
  .clients-list {
    .clients-list-content {
      position: relative;
      margin-bottom: 60px;
      .single-client {
        position: relative;
        height: 175px;
        padding: 30px;
        width: 25%;
        float: left;
        border: 2px solid transparent;
        transition: all 0.5s ease;
        &.relative {
          position: relative;
        }
        @media all and (max-width: $mobile) {
          width: 50%;
          text-align: center;
        }
        @media all and (max-width: 420px) {
          width: 100%;
        }
        .overlay {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(200, 84, 23, 0.75);
          transition: all 1s ease;
          z-index: 2;
          a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 75%;
            text-align: center;

          }
        }
        img {
          width: 100%;
          height: auto;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          @media all and (max-width: $mobile) {
            max-width: 175px;
            width: 100%;
            height: auto;
          }
        }
        &.toggle-popup {
          cursor: pointer;
          &:hover {
            .overlay {
              opacity: 1;
            }
          }
        }
      }
      .client-popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $orange;
        text-align: center;
        width: 100%;
        padding: 60px 120px;
        z-index: 99;
        @media all and (max-width: $mobile) {
          height: auto;
          padding: 80px 20px 20px 20px;
          top: initial;
          transform: translateX(-50%);
        }
        i {
          &.fa-times {
            position: absolute;
            top: 20px;
            right: 20px;
            color: white;
            font-size: 40px;
            cursor: pointer;
            z-index: 10;
          }
        }
        .client-popup-content {
          position: relative;
          @media all and (max-width: $mobile) {
          }
          h2 {
            color: white;
            &:after {
              border-color: white;
            }
          }
          .quote {
            p {
              color: white;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
            i {
              &.fa-pause {
                color: white;
                font-size: 20px;
                &:first-of-type {
                  margin-bottom: 20px;
                }
                &:last-of-type {
                  margin-top: 20px;
                }
              }
            }
          }
          .quotee {
            max-width: 340px;
            margin: 40px auto 0;
            p {
              font-family: 'OpenSans-Bold';
              color: white;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}