@font-face {
  font-family: 'OstrichSans-Medium';
  src: url('../../dist/fonts/OstrichSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/OstrichSans-Medium.woff') format('woff'),
  url('../../dist/fonts/OstrichSans-Medium.ttf')  format('truetype'),
  url('../../dist/fonts/OstrichSans-Medium.svg#OstrichSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../../dist/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/OpenSans-Bold.woff') format('woff'),
  url('../../dist/fonts/OpenSans-Bold.ttf')  format('truetype'),
  url('../../dist/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../dist/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/OpenSans.woff') format('woff'),
  url('../../dist/fonts/OpenSans.ttf')  format('truetype'),
  url('../../dist/fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  overflow-x: hidden;
}

.main {
  width: 100%!important;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.global-width {
  max-width: 800px;
  margin: 0 auto;
  @media all and (max-width: 820px) {
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
}

.button {
  display: inline-block;
  color: white;
  padding: 10px 30px;
  letter-spacing: 1px;
  &:hover {
   color: white;
    text-decoration: none;
  }
}

.orange-button {
  background: $orange;
  transition: all 1s ease;
  &:hover {
    background: white;
    color: $orange;
  }
}

.white-button {
  border: 1px solid white;
  transition: all 1s ease;
  &:hover {
    background: white;
    color: $orange;
  }
}

.orange-trans-button {
  border: 1px solid $orange;
  color: $orange;
  transition: all 1s ease;
  &:hover {
    background: white;
    color: $orange;
  }
}

.mta-orange-bg {
  background: $orange;
  h1, h2, p {
    color: white!important;
  }
}

.mta-dark-grey-bg {
  background: $dark-grey;
  h1, h2, p {
    color: white!important;
  }
}

.mta-white-bg {
  background: white;
  h1, h2, p {
    color: black!important;

  }
}

h2 {
  font-family: 'OstrichSans-Medium';
  text-transform: uppercase;
  font-size: 54px;
  letter-spacing: 4px;
  margin-bottom: 60px;
  padding: 0;
  margin-top: 0;
  @media all and (max-width: $mobile) {
    font-size: 40px;
  }
  &:after {
    display: block;
    clear: both;
    content: "";
    position: relative;
    left: -3px;
    bottom: 0;
    height: 1px;
    width: 80px;
    border-bottom: 4px solid $orange;
    margin: 0 auto;
  }
}

p {
  font-family: 'OpenSans';
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 25px;
  strong {
    font-family: 'OpenSans-Bold';
  }
  &:last-of-type {
    margin-bottom: 60px;
  }
}

.carousel-indicators {
  li {
    border: none;
    background: white!important;
    border-radius: 0!important;
    height: 5px!important;
    width: 15px!important;
    margin: 0 2px 0 0!important;
    &.active {
      background: $orange!important;
    }
    &:last-of-type {
      margin-right: 0!important;
    }
  }
}

.content-sep {
  border-top: 3px solid #A8A99E;
  background: none;
}

.hideme {
  opacity: 0;
  @media all and (max-width: $mobile) {
    opacity: 1;
  }
}

.main-container {
  margin-top: 140px;
  @media all and (max-width: $mobile) {
    margin-top: 60px;
  }
}

.background-out {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}

.desktop-only {
  display: block;
  @media all and (max-width: $mobile) {
    display: none;
  }
}

.mobile-only {
  display: none;
  @media all and (max-width: $mobile) {
    display: block;
  }
}