// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$mobile:                830px;

// Colors
$dark-grey:       #4B4F54;
$orange:          #C85417;
$light-grey:      #A8A99E;